.buyer {
  display: none;
}

.modal-header {
  background-color: green;
}

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 50vh;
}

.logo {
  width: 12vh;
  height: 10vh;
}

h2 {
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-left: 3vw;

  font-weight: bold;

}

ul {
  display: flex;
  justify-content: space-between;

}

li {
  display: inline;
  padding-left: 3vw;
  padding-right: 3vw;
  font-weight: bold;
}

.postal {
  width: 5vw;
}

.btn-search {
  margin-top: 5vh;
  margin-left: 50vw;
  margin-right: 50vw;
  width: 5vw;
  height: 5vh;
  background-color: green;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1vw;
}